body{
    background-color: lightgray;
    text-shadow: 3px 3px 10px rgba(2, 2, 2, 0.77);
}

main{
    max-width: 80%;
    margin: auto;
    padding: auto;
    
}
.formindex{
    display: block;
    width: 40%;
    margin: auto;
    text-align: center;
}

.inputindex{
    margin: auto;
    width: 50%;
}

h1{
    padding-top: 30px;
    text-align: center;
    
}
.eredmenyjelzo{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 3%; 
    margin: auto;
    width: 70%;
    background-color: white;
    padding: 2%;
}

.gol{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 3%; 
    margin: auto;
    padding: 2%;
    width: 70%;
    margin-top: -5%;
    
}
.lapok{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 3%; 
    margin: auto;
    padding: 2%;
    width: 70%;
    margin-top: -5%;
    grid-auto-rows: auto;
    
}

.bal{
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    
}
.kozep{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jobb{
    text-align: right;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
}

.timer{
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}
.kor{
    border-radius: 100%;
    
}
ul{
    list-style-type: none;
    
}
.uljobbra{
    text-align: right;
    padding-right: 40px;
}
.lapkeres{
    display: none;
    width: 20%;
    position: absolute;
    top: 63%;
    right: 40%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
@media only screen and (max-width: 600px){
    .lapkeres {
        min-width: 300px;
        position: static;
        margin: auto;
    }
  }
.lap{
    text-align:center ;
}
#main2{
    display: none;
}
